
<div>
  <h2>Reservasjon Skjema </h2>
  <button (click)="hentAlleReservasjoner()"> Hent reservasjoner</button> {{laster}}
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>billettId:</label>
        </td>
        <td>
          <input type="text" formControlName="billettId">
        </td>
        <td *ngIf="this.Skjema.controls.billettId.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
      <tr>
        <td>
          <label>ruteId:</label>
        </td>
        <td>
          <input type="text" formControlName="ruteId">
        </td>
        <td *ngIf="this.Skjema.controls.ruteId.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
      <tr>
        <td>
          <label>avgangsDato:</label>
        </td>
        <td>
          <input type="text" formControlName="avgangsDato">
        </td>
        <td *ngIf="this.Skjema.controls.avgangsDato.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>avgangsTid:</label>
        </td>
        <td>
          <input type="text" formControlName="avgangsTid">
        </td>
        <td *ngIf="this.Skjema.controls.avgangsTid.status=='INVALID'">
          Mellom 6 og 15 siffer
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" [disabled]="!Skjema.valid">Register</button>
        </td>
        <td>
          <button type="submit" [disabled]="!Skjema.valid">Endre</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="container bg-white " style="width: 100vw; ">
    <table class="table table-striped">
      <tr *ngFor="let reservasjon of reservasjoner; let indexVal = index;">
        <td>{{reservasjon.billettId}}</td>
        <td>{{reservasjon.ruteId}}</td>
        <td>{{reservasjon.avgangsDato}}</td>
        <td>{{reservasjon.avgangsTid}}</td>
        <td>
          <button type="submit" (click)="visEndre(indexVal)">Endre</button>
        </td>
        <td>
          <button type="submit">Slette</button>
        </td>
      </tr>
    </table>
  </div>
</div>
