<div>



  <h2>RuteforekomstDatoTid Skjema </h2>
  <button (click)="hentAlleRuteforekomstdatotider()"> Hent ruteforekomstdatotider</button> {{laster}}
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>ruteId:</label>
        </td>
        <td>
          <input type="number" formControlName="ruteId">
        </td>
        <td *ngIf="this.Skjema.controls.ruteId.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>avgangsDato:</label>
        </td>
        <td>
          <input type="date" formControlName="avgangsDato">
        </td>
        <td *ngIf="this.Skjema.controls.avgangsDato.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>avgangsTid:</label>
        </td>
        <td>
          <input type="time" formControlName="avgangsTid">
        </td>
        <td *ngIf="this.Skjema.controls.avgangsTid.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>ankomstDato:</label>
        </td>
        <td>
          <input type="date" formControlName="ankomstDato">
        </td>
        <td *ngIf="this.Skjema.controls.ankomstDato.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>ankomstTid:</label>
        </td>
        <td>
          <input type="time" formControlName="ankomstTid">
        </td>
        <td *ngIf="this.Skjema.controls.ankomstTid.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>

      <tr>
        <td>
          <label>forekomstDatoId:</label>
        </td>
        <td>
          <input type="number" formControlName="forekomstDatoId">
        </td>
        <td *ngIf="this.Skjema.controls.forekomstDatoId.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>erUtsolgt:</label>
        </td>
        <td>
          <input type="checkbox" formControlName="erUtsolgt">
        </td>
        <td *ngIf="this.Skjema.controls.erUtsolgt.status=='INVALID'">
          Mellom 6 og 15 siffer
        </td>
      </tr>

      <tr>
        <td>
          <button type="submit" (click)='multipleSubmit("lagre")' [disabled]="!Skjema.valid">Register</button>
        </td>
        <td>
          <button type="submit" (click)='multipleSubmit("endre")' [disabled]="!Skjema.valid">Endre</button>
        </td>
        <td>
          <button type="submit" (click)='reset()'>Reset</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="container bg-white " style="width: 100vw; ">
    <table class="table table-striped">
      <tr>
        <td>ruteId</td>
        <td>avgangsDato</td>
        <td>avgangsTid</td>
        <td>ankomstDato</td>
        <td>ankomstTid</td>
        <td>forekomstDatoId</td>
        <td>erUtsolgt</td>
        <td>
         Endre
        </td>
        <td>
         Slette
        </td>

      </tr>

      <tr *ngFor="let ruteforekomstdatotid of ruteforekomstdatotider; let indexVal = index;">
        <td>{{ruteforekomstdatotid.ruteId}}</td>
        <td>{{ruteforekomstdatotid.avgangsDato}}</td>
        <td>{{ruteforekomstdatotid.avgangsTid}}</td>
        <td>{{ruteforekomstdatotid.ankomstDato}}</td>
        <td>{{ruteforekomstdatotid.ankomstTid}}</td>
        <td>{{ruteforekomstdatotid.forekomstDatoId}}</td>
        <td>{{ruteforekomstdatotid.erUtsolgt}}</td>
        <td>
          <button type="submit" (click)="visEndre(indexVal)">Endre</button>
        </td>
        <td>
          <button type="submit" (click)="multipleSubmit('slett',indexVal) ">Slette</button>
        </td>

      </tr>
    </table>
  </div>
</div>
