
<div>
  <h2>BillettPerson Skjema </h2>
  <button (click)="hentAlleBillettpersoner()"> Hent billettpersoner</button> {{laster}}
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>

      <tr>
                  <input type="text" formControlName="billettId" *ngIf="false">
        <td>
          <label>personId:</label>
        </td>
        <td>
          <input type="number" formControlName="personId">
        </td>
        <td *ngIf="this.Skjema.controls.personId.status=='INVALID'">
          Mellom 6 og 15 siffer
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" (click)='multipleSubmit("lagre")' [disabled]="!Skjema.valid">Register</button>
        </td>
        <td>
          <button type="submit" (click)='multipleSubmit("endre")' [disabled]="!Skjema.valid">Endre</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="container bg-white " style="width: 100vw; ">
    <table class="table table-striped">

      <tr *ngFor="let billettperson of billettpersoner; let indexVal = index;">
        <td>{{billettperson.billettId}}</td>
        <td>{{billettperson.personId}}</td>
        <td>
          <button type="submit" (click)="visEndre(indexVal)">Endre</button>
        </td>
        <td>
          <button type="submit" (click)="multipleSubmit('slett',indexVal) ">Slette</button>
        </td>
      </tr>
    </table>
  </div>
</div>
