<div>



  <h2>RuteforekomstDato Skjema </h2>
  <button (click)="hentAlleRuteforekomstdatoer()"> Hent ruteforekomstdatoer</button> {{laster}}
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>forekomstDatoId:</label>
        </td>
        <td>
          <input type="number" formControlName="forekomstDatoId" disabled placeholder="Fylles ikke ut ved lagring">
        </td>
        <td *ngIf="this.Skjema.controls.forekomstDatoId.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>avgangsDato:</label>
        </td>
        <td>
          <input type="date" formControlName="avgangsDato">
        </td>
        <td *ngIf="this.Skjema.controls.avgangsDato.status=='INVALID'">
          Mellom 6 og 15 siffer
        </td>
      </tr>
      <tr>
        <td>
          <label>ruteId:</label>
        </td>
        <td>
          <input type="number" formControlName="ruteId">
        </td>
        <td *ngIf="this.Skjema.controls.ruteId.status=='INVALID'">
          Mellom 6 og 15 siffer
        </td>
      </tr>
      <tr>
        <td>
          <label>erUtsolgt:</label>
        </td>
        <td>
          <input type="checkbox" formControlName="erUtsolgt">
        </td>
        <td *ngIf="this.Skjema.controls.erUtsolgt.status=='INVALID'">
          Mellom 6 og 15 siffer
        </td>
      </tr>

      <tr>
        <td>
          <button type="submit" (click)='multipleSubmit("lagre")' [disabled]="!Skjema.valid">Register</button>
        </td>
        <td>
          <button type="submit" (click)='multipleSubmit("endre")' [disabled]="!Skjema.valid">Endre</button>
        </td>
        <td>
          <button type="submit" (click)='reset()'>Reset</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="container bg-white " style="width: 100vw; ">
    <table class="table table-striped">
      <tr>
        <td>forekomstDatoId</td>
        <td>avgangsDato</td>
        <td>ruteId</td>
        <td>erUtsolgt</td>
        <td>
          Endre
        </td>
        <td>
          Slette
        </td>

      </tr>
      <tr *ngFor="let ruteforekomstdato of ruteforekomstdatoer; let indexVal = index;">
        <td>{{ruteforekomstdato.forekomstDatoId}}</td>
        <td>{{ruteforekomstdato.avgangsDato}}</td>
        <td>{{ruteforekomstdato.ruteId}}</td>
        <td>{{ruteforekomstdato.erUtsolgt}}</td>
        <td>
          <button type="submit" (click)="visEndre(indexVal)">Endre</button>
        </td>
        <td>
          <button type="submit" (click)="multipleSubmit('slett',indexVal) ">Slette</button>
        </td>
      </tr>
    </table>
  </div>
</div>
