<div>

  <h2>Lugar Skjema </h2>
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>
      <tr>
        <td>
          <label>lugarId:</label>
        </td>
        <td>
          <input type="number" formControlName="lugarId">
        </td>
        <td *ngIf="this.Skjema.controls.lugarId.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>bildeUrl:</label>
        </td>
        <td>
          <input type="text" formControlName="bildeUrl">
        </td>
        <td *ngIf="this.Skjema.controls.bildeUrl.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>beskrivelse:</label>
        </td>
        <td>
          <input type="text" formControlName="beskrivelse">
        </td>
        <td *ngIf="this.Skjema.controls.beskrivelse.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>antall:</label>
        </td>
        <td>
          <input type="number" formControlName="antall">
        </td>
        <td *ngIf="this.Skjema.controls.antall.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>lugarType:</label>
        </td>
        <td>
          <input type="number" formControlName="lugarType">
        </td>
        <td *ngIf="this.Skjema.controls.lugarType.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>tittel:</label>
        </td>
        <td>
          <input type="text" formControlName="tittel">
        </td>
        <td *ngIf="this.Skjema.controls.tittel.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>romNr:</label>
        </td>
        <td>
          <input type="text" formControlName="romNr">
        </td>
        <td *ngIf="this.Skjema.controls.romNr.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>pris:</label>
        </td>
        <td>
          <input type="number" formControlName="pris">
        </td>
        <td *ngIf="this.Skjema.controls.pris.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>harWc:</label>
        </td>
        <td>
          <input type="checkbox" formControlName="harWc">
        </td>
        <td *ngIf="this.Skjema.controls.harWc.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>harDysj:</label>
        </td>
        <td>
          <input type="checkbox" formControlName="harDysj">
        </td>
        <td *ngIf="this.Skjema.controls.harDysj.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>harWifi:</label>
        </td>
        <td>
          <input type="checkbox" formControlName="harWifi">
        </td>
        <td *ngIf="this.Skjema.controls.harWifi.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" [disabled]="!Skjema.valid">Register</button>
        </td>
        <td>
          <button type="submit" [disabled]="!Skjema.valid">Endre</button>
        </td>
      </tr>
    </table>
  </form>
  <table>
    <tr *ngFor="let lugar of lugarer">
      <td>{{lugar.lugarId}}</td>
      <td>{{lugar.bildeUrl}}</td>
      <td>{{lugar.beskrivelse}}</td>
      <td>{{lugar.antall}}</td>
      <td>{{lugar.lugarType}}</td>
      <td>{{lugar.tittel}}</td>
      <td>{{lugar.romNr}}</td>
      <td>{{lugar.pris}}</td>
      <td>{{lugar.harWc}}</td>
      <td>{{lugar.harDysj}}</td>
      <td>{{lugar.hawrWifi}}</td>
    </tr>
  </table>

</div>





