
<div>
  <h2>Rute Skjema </h2>
  <button (click)="hentAlleRuter()"> Hent ruter</button> {{laster}}
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>

      <tr>

        <input type="text" formControlName="ruteId" *ngIf="false">
        <td>
          <label>fra:</label>
        </td>
        <td>
          <input type="number" formControlName="fra">
        </td>
        <td *ngIf="this.Skjema.controls.fra.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>til:</label>
        </td>
        <td>
          <input type="number" formControlName="til">
        </td>
        <td *ngIf="this.Skjema.controls.til.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>prisVoksen:</label>
        </td>
        <td>
          <input type="number" formControlName="prisVoksen">
        </td>
        <td *ngIf="this.Skjema.controls.prisVoksen.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>prisBarn:</label>
        </td>
        <td>
          <input type="text" formControlName="prisBarn">
        </td>
        <td *ngIf="this.Skjema.controls.prisBarn.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" (click)='multipleSubmit("lagre")' [disabled]="!Skjema.valid">Register</button>
        </td>
        <td>
          <button type="submit" (click)='multipleSubmit("endre")' [disabled]="!Skjema.valid">Endre</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="container bg-white " style="width: 100vw; ">
    <table class="table table-striped">

      <tr *ngFor="let rute of ruter; let indexVal = index;">
        <td>{{rute.ruteId}}</td>
        <td>{{rute.fra}}</td>
        <td>{{rute.til}}</td>
        <td>{{rute.prisVoksen}}</td>
        <td>{{rute.prisBarn}}</td>
        <td>
          <button type="submit" (click)="visEndre(indexVal)">Endre</button>
        </td>
        <td>
          <button type="submit" (click)="multipleSubmit('slett',indexVal) ">Slette</button>
        </td>
      </tr>
    </table>
  </div>
</div>
