<header>


            <div class="container">
              <ul class="nav nav-pills  " style="background-color:g; border-radius: 2em">


                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/lugar']" routerLinkActive="active text-white" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Lugar </a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/person']" routerLinkActive="active text-white" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Person</a>
                </li>

                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/billett']" routerLinkActive="active text-white" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Billett</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/betaling']" routerLinkActive="active text-white" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Betaling</a>
                </li>

                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/billettperson']"routerLinkActive="active text-white"  style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">BillettPerson</a>
                </li>

                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link k" [routerLink]="['/reservering']" routerLinkActive="active text-white" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Reservasjon</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/rute'] " routerLinkActive="active text-white" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Rute</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/havn'] " routerLinkActive="active text-white" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Havn</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link "  [routerLink]="['/ruteforekomstdato']" routerLinkActive="active text-white"  style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">RuteForekomstDato</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link " [routerLink]="['/ruteforekomstdatotid']" routerLinkActive="active text-white"  style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">RuteForekomstDatoTid</a>
                </li>
              </ul>
      </div>

</header>
