<header>


            <div class="container">
              <ul class="nav nav-pills  " style="background-color:g; border-radius: 2em">


                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-white btn-primary" [routerLink]="['/lugar']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Lugar </a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/person']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Person</a>
                </li>

                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/billett']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Billett</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/betaling']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Betaling</a>
                </li>

                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/billettPerson']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">BillettPerson</a>
                </li>

                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/reservasjon']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Reservasjon</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/rute'] " style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Rute</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/havn'] " style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">Havn</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/ruteforekomstdato']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">RuteForekomstDato</a>
                </li>
                <li [routerLinkActive]="['link-active']"
                    [routerLinkActiveOptions]="{ exact: true }">
                  <a class="nav-link text-dark" [routerLink]="['/ruteforekomstdatotid']" style="font-weight: bolder; border-radius: 300px; margin-left: 1em; ">RuteForekomstDatoTid</a>
                </li>
              </ul>
      </div>

</header>
