<div>



  <h2>Havn Skjema </h2>
  <button (click)="hentAlleHavner()"> Hent havner</button> {{laster}}
  <form [formGroup]="Skjema" (ngSubmit)="onSubmit()">
    <table>

      <tr>
        <td>
          <label>havnId:</label>
        </td>
        <td>
          <input type="number" formControlName="havnId">
        </td>
        <td *ngIf="this.Skjema.controls.havnId.status=='INVALID'">
          Obligatorisk
        </td>
      </tr>
      <tr>
        <td>
          <label>navn:</label>
        </td>
        <td>
          <input type="text" formControlName="navn">
        </td>
        <td *ngIf="this.Skjema.controls.navn.status=='INVALID'">
          Mellom 6 og 15 siffer
        </td>
      </tr>
      <tr>
        <td>
          <button type="submit" (click)='multipleSubmit("lagre")'  [disabled]="!Skjema.valid">Register</button>
        </td>
        <td>
          <button type="submit" (click)='multipleSubmit("endre")' [disabled]="!Skjema.valid">Endre</button>
        </td>
      </tr>
    </table>
  </form>
  <div class="container bg-white " style="width: 100vw; ">
    <table class="table table-striped">
      havnId: number;
      navn: string;
      <tr *ngFor="let havn of havner; let indexVal = index;">
        <td>{{havn.havnId}}</td>
        <td>{{havn.navn}}</td>
        <td>
          <button type="submit" (click)="visEndre(indexVal)">Endre</button>
        </td>
        <td>
          <button type="submit" (click)="slett(indexVal)">Slette</button>
        </td>
      </tr>
    </table>
  </div>

</div>
